{% extends 'base.html' %}

{% load icons %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Receipt{% endblock %}


{% block content %}
  <h2 class="mt-3">Receipt</h2>
  <p class="my-3">Payment has been sent!</p>
  <p class="my-3">Here is your receipt:</p>
  <div class="col-md ">
    <div>
      <h3>Project: {{project.title}}</h3>
      <p>Project owner: {{project.user.user.username}}</p>

      <h4>Task: {{task.title}}</h4>

      <p>Payment receiver: {{taskoffer.offerer.username}}</p>
      <p>Paid price: {{taskoffer.price}}</p>

      <p>Original task:<br> {{task.description}}</p>
      <p>Agreed upon task: <br> {{taskoffer.description}}</p>

    </div>
  </div>
    {% block Rating %}
        <h1> Rate your experience with {{taskoffer.offerer.user.username}}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
        <input type="submit" value="Rate">
        </form>
    {% endblock %}


{% endblock %}
